*{
    box-sizing: border-box;
}


table,th,td{
    border: 1px solid green;
    
}
th,td{
    padding: 6px 10px;
}


.html_semantic a{
    padding: 12px 22px;
    background-color: brown;
    margin: 10px 0px;
    display: block;
    width: 15%;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 3px;
}

/*  */


/* 
.header_area{
    background-color: aqua;
} */